[Unit]
Description=Tool to provide Viture imu data to Opentrack
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/xr_to_opentrack_rs
Restart=always
TimeoutSec=10

[Install]
RequiredBy=multi-user.target